blauwe-piste/Hangman solution/Hangman/obj
blauwe-piste/Hangman solution/Hangman/bin
blauwe-piste/Hangman solution/Hangman.Tests/obj
blauwe-piste/Hangman solution/Hangman.Tests/bin
.vs
blauwe-piste/Hangman blazor solution/HangmanBlazor/obj
blauwe-piste/Hangman blazor solution/HangmanBlazor/bin
blauwe-piste/Hangman blazor solution/HangmanBlazor.Tests/obj
blauwe-piste/Hangman blazor solution/HangmanBlazor.Tests/bin
hipnieuwjs/node_modules
hipnieuwjs/dist
hipnieuwjs/.cache
sockserver/node_modules
tstestjes/node_modules
tstestjes/dist
