<!DOCTYPE html>
<html>
<head>
	<title>Galgje</title>
	<link rel="stylesheet" href="~/css/reset.css">
	<link rel="stylesheet" href="~/css/animated-border.css">
	<link rel="stylesheet" href="~/css/hangman.css">
	<link rel="stylesheet" href="~/css/game.css">
</head>
<body>

	@RenderBody()

</body>
</html>